# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
.DS_Store
